<div class="footer-container">
    <div class="row footer-happy-container">
        <div class="col">
            <h1 class="footer-100">100%</h1>
        </div>
        <div class="col">
            <p class="footer-happy-text">Kundnöjdhet är kärnan i allt vi gör. Med vår 100 % nöjdhetsgaranti kan du känna
                dig helt trygg. Är du inte nöjd, tar vi inte betalt. Ditt förtroende är vårt främsta mål.</p>
            <div class="footer-happy-button-container">
                <h2 class="footer-happy-button-text mb-0">Läs mer om vår nöjdhetsgaranti</h2>
                <div class="footer-button">
                    <span class="material-symbols-outlined">
                        outbound
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row footer-links-container">
        <div class="col-md-1 col-4 footer-mobile-links">
            <ul>
                <li class="footer-header">Lösningar</li>
                <li class="footer-link">Webb</li>
                <li class="footer-link">Internt</li>
                <li class="footer-link">Mobilt</li>
            </ul>
        </div>
        <div class="col-md-3 col-6 footer-mobile-links">
            <ul>
                <li class="footer-header">Övriga Länkar</li>
                <li class="footer-link">Branschlösningar</li>
                <li class="footer-link">Kunskap & Inspiration</li>
                <li class="footer-link">Kontakt</li>
            </ul>
        </div>
        <p class="footer-cred">Acccella © 2024</p>
    </div>
</div>