<div class="footer-container">
    <div class="row footer-happy-container">
        <div class="col">
            <h1 class="footer-100">100%</h1>
        </div>
        <div class="col">
            <p class="footer-happy-text">Kundnöjdhet är kärnan i allt vi gör. Med vår 100 % nöjdhetsgaranti kan du känna
                dig helt trygg. Är du inte nöjd, tar vi inte betalt. Ditt förtroende är vårt främsta mål.</p>
            <div class="footer-happy-button-container">
                <h2 class="footer-happy-button-text mb-0">Läs mer om vår nöjdhetsgaranti</h2>
                <div class="footer-button">
                    <span class="material-symbols-outlined">
                        outbound
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row footer-links-container">
        <div class="col">
            <ul>
                <li class="footer-header">Webb</li>
                <li class="footer-link">Webbapplikation</li>
                <li class="footer-link">Hemsida</li>
                <li class="footer-link">Funktioner</li>
                <li class="footer-link">Säkerhet</li>
                <li class="footer-link">Dokumentation</li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li class="footer-header">Internt</li>
                <li class="footer-link">Webbapplikation</li>
                <li class="footer-link">Hemsida</li>
                <li class="footer-link">Funktioner</li>
                <li class="footer-link">Säkerhet</li>
                <li class="footer-link">Dokumentation</li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li class="footer-header">Mobilt</li>
                <li class="footer-link">Webbapplikation</li>
                <li class="footer-link">Hemsida</li>
                <li class="footer-link">Funktioner</li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li class="footer-header">Branschlösningar</li>
                <li class="footer-link">Webbapplikation</li>
                <li class="footer-link">Hemsida</li>
                <li class="footer-link">Funktioner</li>
                <li class="footer-link">Säkerhet</li>
                <li class="footer-link">Dokumentation</li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li class="footer-header">Kunskap och inspiration</li>
                <li class="footer-link">Webbapplikation</li>
                <li class="footer-link">Hemsida</li>
                <li class="footer-link">Funktioner</li>
                <li class="footer-link">Dokumentation</li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li class="footer-header">Kontakt</li>
                <li class="footer-link">Webbapplikation</li>
                <li class="footer-link">Hemsida</li>
                <li class="footer-link">Funktioner</li>
                <li class="footer-link">Säkerhet</li>
                <li class="footer-link">Dokumentation</li>
            </ul>
        </div>
        <p class="footer-cred">Acccella © 2024</p>
    </div>
</div>