/* Imported fonts */
@font-face {
    font-family: 'PPNeueMontreal';
    src: url('./assets/fonts/PPNEUEMONTREAL-BOLD.OTF') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PPNeueMontreal';
    src: url('./assets/fonts/PPNEUEMONTREAL-BOOK.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PPNeueMontreal';
    src: url('./assets/fonts/PPNEUEMONTREAL-ITALIC.OTF') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PPNeueMontreal';
    src: url('./assets/fonts/PPNEUEMONTREAL-MEDIUM.OTF') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PPNeueMontreal';
    src: url('./assets/fonts/PPNEUEMONTREAL-SEMIBOLDITALIC.OTF') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'PPNeueMontreal';
    src: url('./assets/fonts/PPNEUEMONTREAL-THIN.OTF') format('opentype');
    font-weight: 100;
    font-style: normal;
}

/* Imported fonts End */

/* Font Styles */

$font-family: "PP Neue Montreal", sans-serif;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-small: 100;

h1 {
    font-family: $font-family;
    font-size: 100px !important;
    font-style: normal !important;
    font-weight: $font-weight-medium !important;
}

h2 {
    font-family: $font-family;
    font-size: 43px !important;
    font-style: normal !important;
    font-weight: $font-weight-medium !important;
}

li {
    font-family: $font-family;
    font-size: 21px !important;
    font-style: normal !important;
    font-weight: $font-weight-medium !important;
}

p {
    font-family: $font-family;
    font-size: 26px !important;
    font-style: normal !important;
    font-weight: $font-weight-small !important;
}

button p {
    font-family: $font-family;
    font-size: 21px;
    font-style: normal;
    font-weight: $font-weight-medium;
}

@media (max-width: 767px) {

    h1 {
        font-family: $font-family;
        font-size: 40px !important;
        font-style: normal !important;
        font-weight: $font-weight-medium !important;
        letter-spacing: 0.2px;

    }

    h2 {
        font-family: $font-family;
        font-size: 20px !important;
        font-style: normal !important;
        font-weight: $font-weight-medium !important;
    }

    li {
        font-family: $font-family;
        font-size: 21px !important;
        font-style: normal !important;
        font-weight: $font-weight-medium !important;
    }

    p {
        font-family: $font-family;
        font-size: 18px !important;
        font-style: normal !important;
        font-weight: $font-weight-small !important;
    }

}

/* Font Styles End */

/* Global Styles */

body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}